//
// Variables
// --------------------------------------------------

//== Colors
//
//## Defining mordern browser colors, in case user is not using modern browser.
$AliceBlue:     #F0F8FF;
$AntiqueWhite:  #FAEBD7;


$gray-base:              #000 !default;
$gray-darker:            lighten($gray-base, 13.5%) !default; // #222
$gray-dark:              lighten($gray-base, 20%) !default;   // #333
$gray:                   lighten($gray-base, 33.5%) !default; // #555
$gray-light:             lighten($gray-base, 46.7%) !default; // #777
$gray-lighter:           lighten($gray-base, 93.5%) !default; // #eee


$brand-primary:         darken(#428bca, 6.5%) !default; // #337ab7
$brand-success:         #5cb85c !default;
$brand-info:            #5bc0de !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #d9534f !default;


//== Scaffolding
//
//## Settings for global styles
$body-bg:               $gray-lighter !default;
$text-color:            $gray-dark !default;
$link-color:            $brand-primary !default;
$link-hover-color:      darken($link-color, 15%) !default;
$link-hover-decoration: underline !default;
$footer-height:         60px;
$footer-position:       fixed;

// Components
$padding-base-vertical:     6px !default;
$padding-base-horizontal:   12px !default;
$padding-large-vertical:    10px !default;
$padding-large-horizontal:  16px !default;
$padding-small-vertical:    5px !default;
$padding-small-horizontal:  10px !default;
$padding-xs-vertical:       1px !default;
$padding-xs-horizontal:     5px !default;
$line-height-large:         1.3333333 !default;
$line-height-small:         1.5 !default;
$border-radius-base:        4px !default;
$border-radius-large:       6px !default;
$border-radius-small:       3px !default;
$component-active-color:    #fff !default;
$component-active-bg:       $brand-primary !default;
$caret-width-base:          4px !default;
$caret-width-large:         5px !default;


// Typography
$font-family-sans-serif:  "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-serif:       Georgia, "Times New Roman", Times, serif !default;
$font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace !default;
$font-family-base:        $font-family-sans-serif !default;
$font-size-base:          14px !default;
$font-size-large:         ceil(($font-size-base * 1.25)) !default;
$font-size-small:         ceil(($font-size-base * 0.85)) !default;
$font-size-h1:            floor(($font-size-base * 2.6)) !default;
$font-size-h2:            floor(($font-size-base * 2.15)) !default;
$font-size-h3:            ceil(($font-size-base * 1.7)) !default;
$font-size-h4:            ceil(($font-size-base * 1.25)) !default;
$font-size-h5:            $font-size-base !default;
$font-size-h6:            ceil(($font-size-base * 0.85)) !default;
$line-height-base:        1.428571429 !default; // 20/14
$line-height-computed:    floor(($font-size-base * $line-height-base)) !default; // ~20px
$headings-font-family:    inherit !default;
$headings-font-weight:    500 !default;
$headings-line-height:    1.1 !default;
$headings-color:          inherit !default;

// Tables
$table-cell-padding:            8px !default;
$table-condensed-cell-padding:  5px !default;
$table-bg:                      transparent !default;
$table-bg-accent:               #f9f9f9 !default;
$table-bg-hover:                #f5f5f5 !default;
$table-bg-active:               $table-bg-hover !default;
$table-border-color:            #ddd !default;

// Buttons
$btn-font-weight:                normal !default;
$btn-default-color:              #333 !default;
$btn-default-bg:                 #fff !default;
$btn-default-border:             #ccc !default;
$btn-primary-color:              #fff !default;
$btn-primary-bg:                 $brand-primary !default;
$btn-primary-border:             darken($btn-primary-bg, 5%) !default;
$btn-success-color:              #fff !default;
$btn-success-bg:                 $brand-success !default;
$btn-success-border:             darken($btn-success-bg, 5%) !default;
$btn-info-color:                 #fff !default;
$btn-info-bg:                    $brand-info !default;
$btn-info-border:                darken($btn-info-bg, 5%) !default;
$btn-warning-color:              #fff !default;
$btn-warning-bg:                 $brand-warning !default;
$btn-warning-border:             darken($btn-warning-bg, 5%) !default;
$btn-danger-color:               #fff !default;
$btn-danger-bg:                  $brand-danger !default;
$btn-danger-border:              darken($btn-danger-bg, 5%) !default;
$btn-link-disabled-color:        $gray-light !default;
$btn-border-radius-base:         $border-radius-base !default;
$btn-border-radius-large:        $border-radius-large !default;
$btn-border-radius-small:        $border-radius-small !default;

// Forms
$input-bg:                       #fff !default;
$input-bg-disabled:              $gray-light !default;
$input-color:                    $gray !default;
$input-border:                   #ccc !default;
$input-border-radius:            $border-radius-base !default;
$input-border-radius-large:      $border-radius-large !default;
$input-border-radius-small:      $border-radius-small !default;
$input-border-focus:             #66afe9 !default;
$input-color-placeholder:        #999 !default;
$input-height-base:              ($line-height-computed + ($padding-base-vertical * 2) + 2) !default;
$input-height-large:             (ceil($font-size-large * $line-height-large) + ($padding-large-vertical * 2) + 2) !default;
$input-height-small:             (floor($font-size-small * $line-height-small) + ($padding-small-vertical * 2) + 2) !default;
$form-group-margin-bottom:       15px !default;
$legend-color:                   $gray-dark !default;
$legend-border-color:            #e5e5e5 !default;
$input-group-addon-bg:           $gray-light !default;
$input-group-addon-border-color: $input-border !default;
$cursor-disabled:                not-allowed !default;

// Dropdowns
$dropdown-bg:                    #fff !default;
$dropdown-border:                rgba(0,0,0,.15) !default;
$dropdown-fallback-border:       #ccc !default;
$dropdown-divider-bg:            #e5e5e5 !default;
$dropdown-link-color:            $gray-dark !default;
$dropdown-link-hover-color:      darken($gray-dark, 5%) !default;
$dropdown-link-hover-bg:         #f5f5f5 !default;
$dropdown-link-active-color:     $component-active-color !default;
$dropdown-link-active-bg:        $component-active-bg !default;
$dropdown-link-disabled-color:   $gray-light !default;
$dropdown-header-color:          $gray-light !default;
$dropdown-caret-color:           #000 !default;

// Z-index master list
$zindex-nav:            1000 !default;
$zindex-dropdown:          1000 !default;
$zindex-popover:           1060 !default;
$zindex-tooltip:           1070 !default;
$zindex-nav-fixed:      1030 !default;
$zindex-modal-background:  1040 !default;
$zindex-modal:             1050 !default;


//== Media queries
//
//## Adapt to different screen sizes.

// Extra small screen / phone
$screen-xs:                  480px !default;
$screen-xs-min:              $screen-xs !default;
$screen-phone:               $screen-xs-min !default;

// Small screen / tablet
$screen-sm:                  768px !default;
$screen-sm-min:              $screen-sm !default;
$screen-tablet:              $screen-sm-min !default;

// Medium screen / desktop
$screen-md:                  992px !default;
$screen-md-min:              $screen-md !default;
$screen-desktop:             $screen-md-min !default;

// Large screen / wide desktop
$screen-lg:                  1200px !default;
$screen-lg-min:              $screen-lg !default;
$screen-lg-desktop:          $screen-lg-min !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;

//== Grid system
//
//## Define your custom responsive grid.

$grid-columns:              12 !default;
$grid-gutter-width:         30px !default;
$grid-float-breakpoint:     $screen-sm-min !default;
$grid-float-breakpoint-max: ($grid-float-breakpoint - 1) !default;


//== Navbar
//
//##
$nav-position:                  fixed;
$nav-height:                    50px !default;
$nav-margin-bottom:             $line-height-computed !default;
$nav-border-radius:             $border-radius-base !default;
$nav-padding-horizontal:        floor(($grid-gutter-width / 2)) !default;
$nav-padding-vertical:          (($nav-height - $line-height-computed) / 2) !default;
$nav-collapse-max-height:       340px !default;

$nav-color:                      lighten($gray-light, 15%) !default;
$nav-bg:                         #222 !default;
$nav-border:                     darken($nav-bg, 10%) !default;

$nav-link-color:                 lighten($gray-light, 15%) !default;
$nav-link-hover-color:           #fff !default;
$nav-link-hover-bg:              transparent !default;
$nav-link-active-color:          $nav-link-hover-color !default;
$nav-link-active-bg:             darken($nav-bg, 10%) !default;
$nav-link-disabled-color:        #444 !default;
$nav-link-disabled-bg:           transparent !default;

$nav-brand-color:                $nav-link-color !default;
$nav-brand-hover-color:          #fff !default;
$nav-brand-hover-bg:             transparent !default;

$nav-toggle-hover-bg:            #333 !default;
$nav-toggle-icon-bar-bg:         #fff !default;
$nav-toggle-border-color:        #333 !default;


//== Type
//
//##
$component-offset-horizontal: 180px !default;
$text-muted:                  $gray-light !default;
$abbr-border-color:           $gray-light !default;
$headings-small-color:        $gray-light !default;
$blockquote-font-size:        ($font-size-base * 1.25) !default;
$blockquote-border-color:     $gray-light !default;
$page-header-border-color:    $gray-light !default;
$dl-horizontal-offset:        $component-offset-horizontal !default;
$dl-horizontal-breakpoint:    $grid-float-breakpoint !default;
$hr-border:                   $gray-light !default;
