html {
  font-size: 100%;
}
.page-header .btn, .page-header label {
  margin-right: 5px;
}

#loading {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(122,122,122,0.5);
}

#loading.visible {
  display: flex;
}

#loading .loading-text {
  margin: auto;
  background-color: #fff;
  width: 200px;
  height: 100px;
  text-align: center;
}

#messagesContainer .message {
  border-bottom: solid 1px #eee;
  margin-bottom: 20px;
}

#messagesContainer .message:last-child {
  border-width: 0;
}

#messagesContainer .message .btn {
  margin-right: 5px;
}

#messagesContainer .message .date {
  font-style: italic;
  font-size: 12px;
  margin-top: 10px;
}

button i {
  font-size: 1.25em;
  height: 1.25em;
}

td {
  position:relative;
  padding-top:15px;
}

.actions{
  position:relative;
  vertical-align:middle;
  padding-bottom:15px;
}

.actions button{
  margin-right:5px;
}

tr{
  border-bottom: 1px #EEE solid;
}

#page-selection{
  text-align:center;
}

.comment{
  line-height:1.6em;
}

.ui-widget-overlay {
	background: repeating-linear-gradient(
  	45deg,
  	#CCC,
  	#CCC 10px,
  	#AAA 10px,
  	#AAA 20px
	);
  background-color:#333;
  opacity: 0.5;
	filter: Alpha(Opacity=50); /* support: IE8 */
}